<div class="product">
    <div class="product-name">

        <div class='events'>
            <%= render partial: 'shared/product/partials/discount', locals: {discount: product.events[:discount]} %>
            <%= render partial: 'shared/product/partials/gift', locals: {gift: product.events[:gift]} %>
            <%= render partial: 'shared/product/partials/hot', locals: {hot: product.events[:hot]} %>
        </div>
        <%= render partial: 'shared/product/partials/image', locals: {image: product.image} %>
        <%= render partial: 'shared/product/partials/info',locals: {info: product}%>
            

    </div>   
</div>