
<li class="nav-item">
<%= link_to I18n.t('menus.home'), 'javascript:void(0)', class:'nav-link'%> 
</li>

<li class="nav-item">
<%= link_to I18n.t('menus.about'), 'javascript:void(0)', class:'nav-link'%> 
</li>

<li class="nav-item">
<%= link_to I18n.t('menus.contact'), 'javascript:void(0)', class:'nav-link'%> 
</li>

<li class="nav-item">
<%= link_to I18n.t('menus.product'), 'javascript:void(0)', class:'nav-link'%> 
</li>






<li class="nav-item">
     <%= link_to I18n.t('title.login'), new_user_session_path , class:'nav-link'%> 
</li>

<li class="nav-item">
     <%= link_to I18n.t('title.sign_up'), new_user_registration_path , class:'nav-link'%> 
</li>