<div class="col-md-8">
  <div class="tab-content profile-tab" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>User Id/Email</label>
        </div>
        <div class="col-md-6">
          <p><%=current_user&.email%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>First Name</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.first_name%></p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>Last Name</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.last_name%></p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>Day Of Birth</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.dob%></p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>Sex</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.sex%></p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>Address</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.address%></p>
        </div>
      </div>
            <div class="row">
        <div class="col-md-6 text-capitalize">
          <label>Phone</label>
        </div>
        <div class="col-md-6 text-capitalize">
          <p><%=@profile.phone%></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
