<h2 class="title"><%=I18n.t('btn.login')%></h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fields">
    <div class="field">
      <%= f.label :email, I18n.t('label.email')%><br>
      <%= f.email_field :email, autofocus: params[:type] == 'signin', autocomplete: "email" , placeholder: I18n.t('placeholders.email')%>
    </div>
    <div class="field">
      <%= f.label :password, I18n.t('label.password') %><br>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me,I18n.t('label.remember') %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('btn.login'), class: "btn btn-primary", style: "border-radius: 5%"%>
  </div>
<% end %>