<section class='container' id="member" name='member'>
  <div id="member-banner">
    <div class="row text-white">
      <div class="col-sm-6">
        <h1 class='text-uppercase text-align-justify'>
          <%=I18n.t('label.had_account?')%>
        </h1>
        <h3 class='text-align-justify'>
          <%=I18n.t('label.account_purpose')%>
        </h3>
        <div class="d-flex justify-content-center">
          <%= link_to I18n.t('btn.login'), new_user_session_path, class: 'btn btn-primary w-50 font-weight-bold' %>
        </div>
      </div>
      <div class="col-sm-6">
        <h1 class='text-uppercase text-align-justify'>
          <%=I18n.t('label.no_account?')%>
        </h1>

        <h3 class='text-align-justify'>
          <%=I18n.t('label.account_purpose')%>
        </h3>
        <div class="d-flex justify-content-center">
          <%= link_to I18n.t('btn.signup'), new_user_session_path , class: 'btn btn-primary w-50 font-weight-bold' %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
