
  <div id="<%= id %>">

    <div class="title"><%=title %></div>

    <div class="splide" id="<%= primary_id %>" data-product-target='primary' data-option='primary'>
      <div class="splide__track">
        <ul class="splide__list" >
          <% @product.each do |product| %>
            <li class="splide__slide">
              <div class="splide__slide-content">
                <img data-splide-lazy=<%=load_image(product)%> alt='sample'>
              
                <div class="splide__slide-description w-50 text-white p-2 rounded bg-secondary">
                  <%= product.name.html_safe%>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    </div>

    <%=render partial: 'landing/particals/products/second_slide',locals:{second_id:second_id} %>

  </div>
