<div class='product-info'>

    <div class='name p-1 text-center text-wrap text-capitalize font-weight-bolder text-monospace'>
        <%= info.name%>
    </div>

    <div class='nxs p-1 text-left text-wrap text-capitalize text-primary'>
        <%= info.nxs%>
    </div>
    
    <div class='price ml-2 text-primary'>
        <div class="price-origin d-inline-block <% info.events[:discount] ? 'discount': '' %>" style='font-size:0.5em'>
            <%= info.price%>
        </div>
        <div class='price-discount d-inline-block text-danger'>
            <%= discount(info)%>
        </div>
    </div>

    <div class='npp p-1 border-top text-left text-wrap text-capitalize text-info'>
        <%= info.npp%>
    </div>

</div>