<div class="card-body">
    <ul class="list-unstyled d-flex justify-content-between row">
        <li class='col-sm-8'>
            <i class="text-warning fa fa-star"></i>
            <i class="text-warning fa fa-star"></i>
            <i class="text-warning fa fa-star"></i>
            <i class="text-muted fa fa-star"></i>
            <i class="text-muted fa fa-star"></i>
        </li>
        <li class="text-muted text-right col-sm-4">

            <% if discount? (product) %>
            <div class='old-price'>
                <%= product.price.to_i%> VND
            </div>
            <div class='new-price'>
                <%= discount(product).to_i%> VND
            </div>
            <% else %>
            <div class='new-price'>
                <%= product.price.to_i%> VND
            </div>
            <% end %>
        </li>
    </ul>
    <a href="shop-single.html" class="h2 text-decoration-none text-dark"><%=product.name%></a>
    <p class="card-text">
        <%=product.description%></a>
    </p>
    <p class="text-muted">Reviews (48)</p>
</div>