<div class="col-sm-9">  
<ul class="nav nav-tabs">

</ul>
  
<div class="tab-contents" style="margin-top:5px">
  <div class="tab-pane active" id="home">
    <ul class="details">
      <li id="name">
        <p><span style="color:green; font-size: 24px">Họ và tên:</span> <%=@profile.full_name%></p>
      </li>

      <li id="email">
        <p><span style="color:green; font-size: 24px">Email:</span> <%=@profile.email%></p>
      </li>

      <li id="phone">
        <p><span style="color:green; font-size: 24px">Số điện thoại:</span> <%=@profile.phone%></p>
      </li>

      <li id="gender">
        <p><span style="color:green; font-size: 24px">Giới tính:</span> <%=@profile.sex%></p>
      </li>

      <li id="address">
        <p><span style="color:green; font-size: 24px">Địa chỉ:</span> <%=@profile.address%></p>
      </li>

      <li>
        <%=link_to "Update Profile", edit_user_profile_path, class:"btn btn-warning"%>
      </li>
    </ul>
  </div>

  <div class="tab-pane" id="messages">
        
  </div>

  <div class="tab-pane" id="settings">
        
  </div>

</div>

</div><!--/col-9-->
