<div class="product_item" data-controller="cart
">

  <div class="card mb-4 product-wap rounded-0">
          <div class="card rounded-0">
            <div class="product_img">
              <img src=<%=load_image(product)%> alt='sample'>
            </div>

          </div>
          
          <div class="card-body">

            <div class="left_des" style="float:left">
              <%=link_to product_path(product) do  %>
                <h4 class="h3 text-decoration-none product_name"><%= product.name%></h4>
              <%end%>
              <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                  <li>M/L/X/XL</li>
                  <li class="pt-2">
                      <span
                          class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                      <span
                          class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                      <span
                          class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                      <span
                          class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                      <span
                          class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                  </li>
              </ul>

              <ul class="list-unstyled d-flex justify-content-center mb-1">
                  <li>
                      <i class="text-warning fa fa-star"></i>
                      <i class="text-warning fa fa-star"></i>
                      <i class="text-warning fa fa-star"></i>
                      <i class="text-muted fa fa-star"></i>
                      <i class="text-muted fa fa-star"></i>
                  </li>
              </ul> 
              <p class="text-center mb-0">$<%= product.price%>.00</p>
            </div>
            
            <div class="right_des">
              <div class="rounded-0 product-overlay d-flex align-items-center justify-content-center">
                  <ul class="list-unstyled">
                      <li>
                          <button class="btn btn-success text-white mt-2" data-id="<%= product.id%>" data-action= "click->cart#add2Cart">
                            <i class="btn-success text-white mt-2 fas fa-cart-plus"></i>
                          </button>
                      </li>
                      <li>
                        <%=link_to product_path(product) do  %>
                          <button class="btn btn-success text-white mt-2">
                            <i class="btn-success text-white mt-2 fas fa-eye"></i>
                          </button>
                        <%end%>
                      </li>
                      <li>
                        <%=link_to product_path(product) do  %>
                          <button class="btn btn-success text-white mt-2">
                            <i class="btn-success text-white mt-2 fas fa-heart"></i>
                          </button>
                        <%end%>
                      </li>
                  </ul>
              </div>
            </div>

          </div>
  </div>

</div>