<section name="product" data-controller="product">
  <%=render partial:'landing/particals/products/slide',locals:{id:'hot', title:'sản phẩm bán chạy', primary_id:'product_hot_primary', second_id:'splide_hot_secondary'} %>

  <%=render partial:'landing/particals/products/slide',locals:{id:'recommended', title:'gợi ý cho bạn', primary_id:'product_recommended_primary', second_id:'splide_recommeded_secondary'} %>

  <%=render partial:'landing/particals/products/slide',locals:{id:'new', title:'sản phẩm mới', primary_id:'product_new_primary', second_id:'splide_new_secondary'} %>
  
  <%= link_to "Khám phá tiếp", products_path, class:"btn btn-warning"%>

  <%=render 'landing/particals/contact'%>
</section>