<section name="update" >
  <%= simple_form_for @profile, url: user_profile_path,
    wrapper: :vertical_form,
    wrapper_mappings: {
      boolean:       :vertical_boolean,
      check_boxes:   :vertical_collection,
      date:          :vertical_multi_select,
      datetime:      :vertical_multi_select,
      file:          :vertical_file,
      radio_buttons: :vertical_collection,
      range:         :vertical_range,
      time:          :vertical_multi_select,
      select:        :vertical_select
    } do |profile| %>
      <%= profile.input :first_name%>
      <%= profile.input :last_name%>
      <%= profile.input :email, input_html: { autocomplete: 'email' } %>
      <%= profile.input :phone%>
      <%= profile.input :sex, as: :radio_buttons, collection: sexes, wrapper: :vertical_collection_inline, label_method: :second, value_method: :second %>
      <%= profile.input :address%>  
      <%= profile.input :dob, as: :date %>
      <%= profile.button :submit, 'Update profile', class: "btn-primary" %>
  <% end %>
</section>