<div class='container mt-3'>
  <%= simple_form_for(@profile, method: :put, url: user_profile_path, wrapper: :horizontal_form, wrapper_mappings: {
    boolean:       :horizontal_boolean,
    check_boxes:   :horizontal_collection,
    date:          :horizontal_multi_select,
    datetime:      :horizontal_multi_select,
    file:          :horizontal_file,
    radio_buttons: :horizontal_collection,
    range:         :horizontal_range,
    time:          :horizontal_multi_select,
    select:        :horizontal_select
  }) do |profile|%>
    <%= profile.input :first_name, label_html: { class: 'text-white text-capitalize' }%>
    <%= profile.input :last_name, label_html: { class: 'text-white text-capitalize' }%>
    <%= profile.input :avatar, as: :file, input_html: { accept: :avatar, class: 'h-100' }, label_html: { class: 'text-white text-capitalize' }, place_holder: 'test'%>
    <%= profile.input :sex, label_html: { class: 'text-white text-capitalize' }, as: :radio_buttons, collection: sexes, label_method: :second, value_method: :second, wrapper: :horizontal_collection_inline%>
    <%= profile.input :address, label_html: { class: 'text-white text-capitalize' }%>
    <%= profile.input :phone, label_html: { class: 'text-white text-capitalize' }%>
    <%= profile.input :dob, as: :date , start_year: Date.today.year - 90,label: 'Date Of Birth', label_html: { class: 'text-white text-capitalize' }%>
    <%= profile.button :submit, class: "btn-primary" %>
  <% end %>
</div>
