<%= content_for :title do %>
  This is a log-in page!
<% end %>
<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/header_content' %>
 
  <body>
  <%= render 'layouts/shared/header' %>
  
    <%= yield %>
  <%= render 'layouts/shared/footer' %>
  </body>
</html>
