<!DOCTYPE html>
<html>
<%= render 'layouts/shared/header_content' %>

<body>
    <%= render 'layouts/shared/header' %>
    <%= yield %>
</body>
<% if content_for?(:js_page) %>
<%= yield (:js_page) %>
<% end %>
<%= render 'layouts/shared/footer' %>

</html>